/*
Theme Name: Workz-child
Version: 1.0
Description: A child theme of Workz
Author: admin
Template: workz
*/

/*@import url("../workz/style.css");*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}:focus{outline:0}body{background:#fff;line-height:1}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal;text-align:left}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a
img{border:0}header,hgroup,footer,section,article,aside{display:block}body{background:#fff;border-top:5px solid #000;font-size:12px;line-height:1.5em;color:#444;font-family:'Open Sans',Arial,Helvetica,sans-serif}a{text-decoration:underline;color:#04859d}a:hover{text-decoration:none;color:#37b6ce}p{margin:0
0 1em}strong{font-weight:700}em{font-style:italic}pre{margin:20px
0;background:#eee;border:1px
solid #ddd;padding:10px;white-space:pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap:break-word}blockquote{border-left:4px solid #ccc;padding-left:20px;margin:30px
0px}.clear{clear:both}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}* html
.clearfix{zoom:1}*:first-child+html
.clearfix{zoom:1}.remove-margin{margin-right:0 !important}#wrap{background:#fff;margin:0
auto;width:920px;padding:30px
0px 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px}h1,h2,h3,h4{color:#333;line-height:1.5em;font-weight:bold}h1{font-size:24px;margin-bottom:20px;line-height:1.2em}h2{font-size:18px}h3{font-size:16px}h4{font-size:14px}h2,h3,h4{margin-top:30px;margin-bottom:20px}h1 a,
h2 a,
h3 a,
h4
a{color:#333}h2 a:hover,
h3 a:hover,
h4 a:hover{color:#ef4034;text-decoration:none}.single-title{margin-bottom:5px}.sticky{}.gallery-caption
.bypostauthor{}.aligncenter{display:block;margin:0
auto}.alignright{float:right;margin:10px
0 10px 10px}.alignleft{float:left;margin:10px
10px 10px 0}.floatleft{float:left}.floatright{float:right}.textcenter{text-align:center}.textright{text-align:right}.textleft{text-align:left}.wp-caption{border:1px
solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.wp-caption
img{margin:0;padding:0;border:0
none}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0
4px 5px;margin:0}.wp-smiley{margin:0
!important;max-height:1em}blockquote.left{margin-right:20px;text-align:right;margin-left:0;width:33%;float:left}blockquote.right{margin-left:20px;text-align:left;margin-right:0;width:33%;float:right}.tagcloud
a{float:left;display:block;margin-right:5px;margin-bottom:5px;padding:4px
7px;line-height:1.3em;color:#999 !important;background:#cf1d10 url(/wp-content/themes/workz/images/pagination.png) repeat;border:1px
solid #ccc;text-shadow:1px 1px 1px #fff;font-weight:bold;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.tagcloud a:hover{text-shadow:none;color:#fff !important;border-color:#cf1d10;background:#cf1d10 url(/wp-content/themes/workz/images/pagination-color.png) repeat;text-decoration:none}.widget_calendar{float:left}#wp-calendar{width:100%}#wp-calendar
caption{text-align:right;color:#333;font-size:12px;margin-top:10px;margin-bottom:15px}#wp-calendar
thead{font-size:12px}#wp-calendar thead
th{padding-bottom:10px}#wp-calendar
tbody{color:#aaa}#wp-calendar tbody
td{background:#f5f5f5;border:1px
solid #fff;text-align:center;padding:8px}#wp-calendar tbody td:hover{background:#fff}#wp-calendar tbody
.pad{background:none}#wp-calendar tfoot
#next{font-size:12px;text-transform:uppercase;text-align:right}#wp-calendar tfoot
#prev{font-size:12px;text-transform:uppercase;padding-top:10px}#page-heading{margin-bottom:40px;position:relative}#page-heading h1,
#page-heading
h2{font-size:21px;color:#000;text-shadow:0px 0px 0px #fff;margin:0px
!important;line-height:0 !important}#header{background:#fff;margin:20px
auto;position:relative;width:920px;padding-bottom:20px;border-bottom:1px solid #ddd}#logo
a{font-family:"Arvo";font-size:32px;font-weight:700;color:#333;padding:0px;margin:0px;text-decoration:none}#logo a:hover{color:#ef4034}#navigation{position:absolute;right:0px;top:80px}.sf-menu,
.sf-menu
*{margin:0;padding:0;list-style:none}.sf-menu{line-height:1.0}.sf-menu
ul{position:absolute;top: -999em;width:160px}.sf-menu ul
li{width:100%}.sf-menu li:hover{visibility:inherit}.sf-menu
li{float:left;position:relative}.sf-menu
a{display:block;position:relative}.sf-menu li:hover ul,
.sf-menu li.sfHover
ul{left:10px;top:40px;z-index:99}ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li
ul{top: -999em}ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover
ul{left:180px;top:0}.sf-menu{float:left;margin-bottom:1em}.sf-menu
a{height:40px;line-height:40px;font-size:14px;font-weight:bold;color:#999;margin-left:18px;text-decoration:none}.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active{color:#000}#navigation .current-menu-item>a:first-child{color:#04859d}.sf-menu
ul{background:#fff;padding:0px;border:1px
solid #ccc;-moz-opacity:0.98;-khtml-opacity:0.98;opacity:0.98}.sf-menu ul
a{margin:0px;padding:0
10px}.sf-menu ul a:focus,
.sf-menu ul a:hover,
.sf-menu ul a:active{color:#333}.sf-menu ul .current-menu-item
a{color:#333}.sf-menu ul
li{border-bottom:1px solid #eee}.sf-menu ul li:last-child{border-bottom:0px}.home-wrap{margin: -30px -30px 0}#home-tagline{margin:0
40px 20px;font-family:'Open Sans',serif;font-size:26px;line-height:30px;text-align:center;font-weight:bold}#home-tagline
a{color:#ef4034}#home-tagline a:hover{border-bottom:1px dotted #ef4034}#home-highlights{margin:0
30px}.hp-highlight{float:left;width:290px;margin-right:25px;margin-bottom:40px}.highlight-last{background:none;margin-right:0px}.hp-highlight p:last-child{margin-bottom:0px}.hp-highlight
h2{border-bottom:1px solid #ddd;font-weight:bold;font-size:14px;margin-top:0px;padding-bottom:10px;margin-bottom:15px}#home-projects{margin:0px
30px;overflow:hidden}h2.home-projects-heading{margin-top:0px;padding-bottom:10px;border-bottom:1px solid #ddd;font-size:13px;font-weight:bold}#slider-wrap{width:920px;height:300px;margin:0
30px;margin-bottom:40px;position:relative}#slider_nivo{position:relative;width:920px;height:300px}.nivoSlider{position:relative;width:920px;height:300px;background:#fff url(images/nivo-loader.gif) no-repeat 50% 50%}.nivoSlider
img{width:920px;position:absolute;top:0px;left:0px;z-index:6;display:none}.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:920px;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}.nivo-slice{display:block;position:absolute;z-index:5;height:100%}.nivo-box{display:block;position:absolute;z-index:5}.nivo-directionNav{display:none}.nivo-directionNav
a{background-color:#000;width:30px;height:30px;position:absolute;z-index:1000;top:50%;margin-top: -15px;cursor:pointer}.nivo-prevNav,.nivo-nextNav{text-indent: -9999px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.nivo-controlNav
a.active{font-weight:bold}.nivo-nextNav{background:url('/wp-content/themes/workz/images/sliders/arrow-right.png') center center no-repeat;right: -40px}.nivo-prevNav{background:url('/wp-content/themes/workz/images/sliders/arrow-left.png') center center no-repeat;left: -40px}.nivo-prevNav:hover{background-color:#fee825;background-image:url('/wp-content/themes/workz/images/sliders/arrow-left-hover.png')}.nivo-nextNav:hover{background-color:#fee825;background-image:url('/wp-content/themes/workz/images/sliders/arrow-right-hover.png')}.nivo-controlNav
a{display:none !important}.nivo-caption{display:none !important}.no-margin{margin-right:0px !important}.no-border{border-right:0px !important}ul.filter{list-style:none;position:absolute;right:0px;top: -20px;padding:5px
10px;background:#eee}ul.filter
li{float:left}li.sort{font-weight:bold;margin-right:10px !important}ul.filter
a{color:#666;font-size:12px;font-weight:bold;margin-right:10px}ul.filter li:last-child
a{background:none !important;margin:0px}ul.filter a:hover,
ul.filter li.active
a{background:#fee825 !important;color:#000}.portfolio-item{position:relative;float:left;width:215px;margin-right:20px;margin-bottom:20px}.portfolio-item a
img{display:block}.portfolio-item
h2{display:none;position:absolute;bottom:0px;left:0px;font-size:12px;margin:0px;color:#fff}.portfolio-item h2
a{display:block;padding:10px;width:195px;background:#000;color:#fff}#portfolio-wrap{overflow:hidden;margin-bottom: -20px;margin-right: -20px}#single-portfolio{margin-bottom:20px}#single-portfolio-left{float:left;width:510px}#single-portfolio-left
img{margin-bottom:20px;padding:4px;border:1px
solid #ddd;-webkit-transition:opacity 0.2s ease-in-out;-moz-transition:opacity 0.2s ease-in-out;-o-transition:opacity 0.2s ease-in-out;-ms-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out}#single-portfolio-left a:hover
img{-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}#single-portfolio-left img:last-child{margin-bottom:0px}#single-portfolio-right{float:right;width:380px}#single-portfolio-meta{margin-top: -10px;margin-bottom:20px;font-weight:bold}#single-portfolio-meta
a{display:block;float:left;margin-right:5px;padding:5px;background:#eee;color:#666}#single-portfolio-meta a:hover{background:#fee825 !important;color:#000}#single-portfolio-nav{}#single-portfolio-nav
a{position:absolute;display:block;top: -10px;height:20px;width:20px;text-indent: -9999px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}#single-nav-left
a{background:#333 url('/wp-content/themes/workz/images/sliders/arrow-left.png') center center no-repeat;right:20px}#single-nav-right
a{background:#333 url('/wp-content/themes/workz/images/sliders/arrow-right.png') center center no-repeat;right:0px}#single-portfolio-nav a:hover{background-color:#ef4034}.post{float:left;width:660px;overflow:hidden}.full-width{float:none !important;width:100% !important}.loop-entry{margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid #eee}.loop-entry-left{float:left;width:100px}.loop-entry-right{float:right;width:540px}.loop-entry-thumbnail{margin-bottom:20px}.loop-entry-thumbnail
img{display:block;margin:0px;border-bottom:4px solid #e6e6e6;-webkit-transition:opacity 0.2s ease-in-out;-moz-transition:opacity 0.2s ease-in-out;-o-transition:opacity 0.2s ease-in-out;-ms-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out}.loop-entry-thumbnail:hover
img{-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}.loop-entry
h2{margin-top: -5px;margin-bottom:10px;font-size:16px}.loop-entry-date{text-align:right;font-size:13px;font-weight:bold}.loop-entry-date
span{background:#fee825}.loop-entry-author,.loop-entry-cat{text-align:right;color:#999;font-style:italic}.loop-entry-author a,
.loop-entry-cat
a{font-weight:bold;color:#999}.loop-entry-author a:hover,
.loop-entry-cat a:hover{color:#666}.entry{margin-bottom:20px}.entry ul,
.entry
ol{margin-left:30px;margin-bottom:10px;list-style:inherit}.entry
ol{list-style:decimal}.post-thumbnail{margin-top: -10px;margin-bottom:10px}.post-thumbnail
img{border-bottom:4px solid #e6e6e6}.post-meta{color:#999;font-style:italic;font-size:11px;margin-bottom:30px}.post-meta
span{margin-right:10px}.post-meta
a{font-weight:bold;color:#999}.post-meta a:hover{color:#ef4034}.meta-date{background:url(/wp-content/themes/workz/images/date.png) left no-repeat;padding-left:17px}.meta-category{background:url(/wp-content/themes/workz/images/category.png) left no-repeat;padding-left:17px}.meta-author{background:url(/wp-content/themes/workz/images/author.png) left no-repeat;padding-left:17px}.post-meta-single{margin-bottom:20px}.post-tags{margin-right:10px;margin-top:30px;font-size:12px}.post-tags
a{}.pagination{margin-top:20px}.pagination a,
.pagination
span{font-size:11px;line-height:20px;height:20px;width:20px;text-align:center;margin-right:5px;display:block;float:left;background:#eee url(/wp-content/themes/workz/images/pagination.png) repeat;color:#666;border:1px
solid #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}.pagination a:hover,
.pagination
span.current{text-decoration:none;color:#FFF;background:#cf1d10 url(/wp-content/themes/workz/images/pagination-color.png) repeat;border:1px
solid #cf1d10}#commentsbox{width:100%;overflow:hidden;margin-top:30px}#comments{text-transform:none;font-weight:bold;color:#333;font-size:13px;margin-top:20px;margin-bottom:30px;padding-bottom:10px;border-bottom:1px dotted #d6d6d6}#commentsbox ol,
#commentsbox
ul{list-style:none;margin:0
!important}#commentsbox
li{}.children{list-style:none;margin:30px
0 0;text-indent:0}.children li.depth-2{margin:0
0 0px 65px}.children li.depth-3{margin:0
0 0px 65px}.children li.depth-4{margin:0
0 0px 65px}.children li.depth-5{margin:0
0 0px 65px}.children li.depth-6{margin:0
0 0px 65px}.children li.depth-7{margin:0
0 0px 65px}.children li.depth-8{margin:0
0 0px 65px}.children li.depth-9{margin:0
0 0px 65px}.children li.depth-10{margin:0
0 0px 65px}.comment-body{position:relative;padding:15px
15px 0;margin-left:65px;margin-bottom:30px;background:#fff;border:1px
solid #EBEBEB;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;transition:all 0.4s ease;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;-moz-transition:all 0.4s ease}.comment-body
p{margin-bottom:15px !important}.comment-body:after{content:'';position:absolute;top:10px;left: -12px;width:12px;height:20px;background:url("/wp-content/themes/workz/images/comment-arrow.png") no-repeat}.comment-body:hover{}.reply{display:none;position:absolute;top:10px;right:10px}.comment-reply-link{font-size:10px}.comment-reply-link:hover{}.comment-body:hover
.reply{display:block}#commentsbox
.avatar{position:absolute;top:0px;left: -65px;height:40px;width:40px;padding:2px;border:1px
solid #eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.comment-author{font-weight:bold;color:#000}.says{display:none}.comment-meta{margin-bottom:10px}.comment-meta
a{font-size:11px;font-style:italic;color:#666}.cancel-comment-reply{margin-top: -10px}.cancel-comment-reply
a{color:#F00;line-height:20px;height:20px}.cancel-comment-reply a:hover{text-decoration:underline}#comments-respond{clear:left;text-transform:none;font-weight:bold;color:#333;font-size:13px;margin-top:0px;margin-bottom:15px}#comments-respond-meta{font-size:11px}#commentform
label{display:block}#commentform input#author,
#commentform input#email,
#commentform
input#url{width:45%;color:#666;text-shadow:1px 1px 0px #FFF;border:1px
solid #cecece;outline:none;padding:10px
5px;margin-bottom:10px;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background-color:#fff}#commentform
textarea{display:block;padding:10px;width:95%;color:#666;text-shadow:1px 1px 0px #FFF;border:1px
solid #cecece;background-color:#fff;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}#commentform input#author:focus,
#commentform input#email:focus,
#commentform input#url:focus,
#commentform textarea:focus{border-color:#acacac !important;-webkit-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);-moz-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1)}#commentSubmit{font-size:12px;margin-top: -5px;margin-bottom:20px;outline:none}#commentSubmit::-moz-focus-inner,#commentSubmit::-moz-focus-inner{border:0;padding:0}#commentSubmit
span{display:block;margin:0px;padding:10px
15px !important}#sidebar{width:220px;float:right}.sidebar-box{padding-bottom:20px;margin-bottom:20px}.sidebar-box
h4{margin-top:0px !important;margin-bottom:15px;text-transform:uppercase;font-size:12px;
	background:url(/vassastra/wp-content/themes/workz/images/tridots.png) left center repeat-x;
	}.sidebar-box h4
span{background:#fff;padding:0
10px;margin-left:10px}.sidebar-box
ul{list-style:none;list-style-position:inside}.sidebar-box
li{margin-bottom:5px}.workz-flickr-widget{list-style:none !important}.workz-flickr-widget
a{float:left;width:55px;height:55px;margin-right:7px;margin-bottom:7px;border:5px
solid #eee;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}.workz-flickr-widget a:hover{border-color:#ef4034}.workz-flickr-widget
img{display:block;width:55px;height:55px}#footer-wrap{width:920px;margin:0
auto 20px auto}#footer{width:920px;margin:0
auto;margin-bottom:20px;color:#7f7f7f}#footer
a{color:#fff;text-decoration:none}#footer a:hover{color:#aaa}#footer-widget-wrap{}#footer-left,#footer-middle,#footer-right{float:left;width:280px;margin-top:30px}#footer-right{}#footer-middle{margin-left:40px;margin-right:40px}#footer-right{}.footer-widget{color:#7f7f7f;margin-bottom:30px}.footer-widget
h4{color:#fff;font-size:13px;margin:0
0 20px}.footer-widget
li{padding:10px
0;border-bottom:1px solid #444}.footer-widget ul li:first-child{border-top:1px solid #444}.footer-widget li:first-child{border-top:1px solid #333}#footer .workz-flickr-widget
li{border:0px;padding:0px}#footer .workz-flickr-widget{margin-right: -4px}#footer .workz-flickr-widget
a{float:left;width:57px;height:57px;margin-right:4px;margin-bottom:4px;border:5px
solid #222;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}#footer .workz-flickr-widget a:hover{border-color:#fee825}#footer .workz-flickr-widget
img{display:block;width:57px;height:57px}#footer-bottom{border-bottom:0px;margin:0;margin-top:30px;padding:10px
10px;overflow:hidden;font-size:10px;color:#666;border-top:1px solid #ddd}#copyright{float:left;width:700px}#back-to-top{width:140px;float:right;font-size:10px;text-align:right}#back-to-top
a{color:#666}#searchbar{display:block;position:relative;width:220px;margin-bottom:4px}#search{position:relative;width:180px;padding:10px
30px 10px 10px;outline:none;border:1px
solid #ddd;color:#666}#search:focus{}#searchsubmit{position:absolute;right:10px;top:12px;background:url(/wp-content/themes/workz/images/search.png) no-repeat;text-indent: -9999px;border:none;outline:none;width:15px;height:15px;cursor:pointer}.search-portfolio-thumb{float:left;margin-right:20px;padding:4px;border:1px
solid #ddd}.search-portfolio-thumb
img{margin:0px;padding:0px;display:block;-webkit-transition:opacity 0.2s ease-in-out;-moz-transition:opacity 0.2s ease-in-out;-o-transition:opacity 0.2s ease-in-out;-ms-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out}.search-portfolio-thumb:hover
img{-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}.one-half{width:48%}.one-third{width:30.66%}.two-third{width:65.33%}.one-fourth{width:22%}.three-fourth{width:74%}.one-fifth{width:16.8%}.one-sixth{width:13.33%}.one-half,.one-third,.two-third,.one-fourth,.three-fourth,.one-fifth,.one-sixth{position:relative;margin-right:4%;float:left}.column-last{margin-right:0px}.column-first{margin-left:0px}.box-shortcode{margin:5px
0px;padding:10px;color:#fff;font-size:13px;font-weight:bold}.box-black{background-color:#000}.box-red{background-color:#e62727}.box-green{background-color:#91bd09}.box-blue{background-color:#00ADEE}.text-highlight{padding:2px}.highlight-yellow,
.highlight-yellow
a{background-color:#FFF7A8;color:#695D43}.highlight-pink,
.highlight-pink
a{background-color:#F7DEEB;color:#724473}.highlight-purple,
.highlight-purple
a{background-color:#E0DBF6;color:#5C5577}.highlight-blue,
.highlight-blue
a{background-color:#D7F0FF;color:#2A67A4}.highlight-green,
.highlight-green
a{background-color:#E7FFCE;color:#47630A}.highlight-red,
.highlight-red
a{background:#FFCEBE;color:#A22121}.highlight-gray,
.highlight-gray
a{background-color:#EBEBEB;color:#787777}.button{margin-right:5px}.button, .button
span{display:inline-block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.button{white-space:nowrap;line-height:1em;position:relative;outline:none;overflow:visible;cursor:pointer;border:1px
solid #999;border:rgba(0, 0, 0, .2) 1px solid;border-bottom:rgba(0, 0, 0, .4) 1px solid;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);background: -moz-linear-gradient(
center top,
rgba(255, 255, 255, .1) 0%,
rgba(0, 0, 0, .1) 100%
);background: -webkit-gradient(
linear,
center bottom,
center top,
from(rgba(0, 0, 0, .1)),
to(rgba(255, 255, 255, .1))
);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";-moz-user-select:none;-webkit-user-select:none;-khtml-user-select:none;user-select:none;margin-bottom:10px}.button.full, .button.full
span{display:block}.button:hover,.button.hover{background: -moz-linear-gradient(
center top,
rgba(255, 255, 255, .2) 0%,
rgba(255, 255, 255, .1) 100%
);background: -webkit-gradient(
linear,
center bottom,
center top,
from(rgba(255, 255, 255, .1)),
to(rgba(255, 255, 255, .2))
);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',EndColorStr='#19FFFFFF');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',EndColorStr='#19FFFFFF')"}.button:active,.button.active{top:1px}.button
span{position:relative;color:#fff;font-weight:bold;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);border-top:rgba(255, 255, 255, .3) 1px solid;padding:0.8em 1.3em;line-height:1em;text-decoration:none;text-align:center;white-space:nowrap}.button.black{background-color:#333}.button.gray{background-color:#666}.button.light-gray{background-color:#D5D2D2;text-shadow:1px 1px 0px #FFF}.button.light-gray
span{color:#242424;text-shadow:1px 1px 0px #e7e7e7;border-top:rgba(255, 255, 255, .6) 1px solid}.button.red{background-color:#e62727}.button.orange{background-color:#f24919}.button.magenta{background-color:#A9014B}.button.yellow{background-color:#ffb515}.button.blue{background-color:#00ADEE}.button.pink{background-color:#e22092}.button.green{background-color:#91bd09}.button.rosy{background-color:#F16C7C}.button.brown{background-color:#804000}.button.purple{background-color:#800080}.button.cyan{background-color:#46C7C7}.button.gold{background-color:#D4A017}.odd
td{background-color:#fafafa}table.pricelist
td{padding:3px
8px}.highlighted{color:green}.op-overview-set.closed{color:red}.op-status-label{font-weight:bold;vertical-align:center;padding-left:20px}.op-status-label.open{color:green;background:url(/wp-content/plugins/wp-opening-hours/img/circle-green.png) no-repeat center left;background-size:15px 15px}.op-status-label.closed{color:red;background:url(/wp-content/plugins/wp-opening-hours/img/circle-red.png) no-repeat center left;background-size:15px 15px}.op-overview-title{width:100px}

/*Responsive css*/

@font-face {
	src: url(fonts/OpenSans-Regular.ttf);
	font-family: OpenSans-Regular;
}
@font-face {
	src: url(fonts/OpenSans-Semibold.ttf);
	font-family: OpenSans-Semibold;
}
@font-face {
	src: url(fonts/OpenSans-Bold.ttf);
	font-family: OpenSans-Bold;
}
@font-face {
	src: url(fonts/OpenSans-Light.ttf);
	font-family: OpenSans-Light;
}

#header {
	margin: 20px auto;
	padding-bottom: 20px;
}
.menu-menu-1-container ul li a {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #999;
	margin-left: 20px;
	text-decoration: none;
}
#navigation .current-menu-item > a:first-child {
	color: #04859d;
}
#navigation {
	top: 80px;
}
.close-image {
	display: none;
}
#page-heading {
	border-bottom: none;
}
#home-highlights {
	margin: 0px;
}
.nivo-directionNav, .nivo-nextNav {
	display: none;
}
#slider-wrap {
	position: relative;
	/*background: url('images/vassastra-slide-01.jpg') no-repeat;*/
	width: 100%;
	height: 340px;
	margin: 0px;
}
#home-tagline {
	font-family: OpenSans-Semibold;
	font-size: 25px;
}
.home-wrap {
	margin: 0px;
}
.hp-highlight h2 {
	font-size: 14px;
	font-family: OpenSans-Semibold;
}
.hp-highlight p {
	font-size: 12px;
	font-family: OpenSans-Regular;
}
p {
	font-size: 12px;
	font-family: OpenSans-Regular;
}
.entry h2 {
	font-family: OpenSans-Semibold;
	color: #333333;
}
#page-heading h1, #page-heading h2 {
	font-family: OpenSans-Semibold;
	font-size: 21px;
	padding-top: 30px;
	color: #000;
	text-shadow: 0px 0px 0px #fff;
	margin: 0px;
}
.hp-highlight p a {
	color: #04859d;
}
.hp-highlight table tbody tr td {
	font-size: 12px;
	font-family: OpenSans-Regular;
}
td, th {
	font-family: OpenSans-Regular;
}
#wrap {
	padding: 0px;
}
.sf-menu a , .sidebar-box h4 span {
	font-family: OpenSans-Semibold;
}
@media (min-width: 768px) {
	#menu-primary-menu, #menu-main-menu {
		display: block !important;
	}
}

@media (min-width: 0px) and (max-width: 991px) {
	#logo {
		width: 50%;
		float: left;
	}
	#footer-left, #footer-middle, #footer-right {
		width: auto;
		margin-top: 0px;
	}
	body {
		border-top: none;
	}
	#wrap {
		padding-top: 20px;
	}
}
@media (min-width: 0px) and (max-width: 399px) {
	#home-tagline {
		font-size: 22px;
	}
}
@media (min-width:400px) and (max-width: 767px) {
	#home-tagline {
		font-size: 28px;
	}
}
@media (min-width: 0px) and (max-width: 767px) {
	#menu-primary-menu, #menu-main-menu {
		width: 80%;
		position: fixed;
		left: 20%;
		background: #000;
		padding: 110px 0px 0px;
		top: 0;
		height: 100%;
		z-index: 9999999;
	}
	.sf-menu {
		display: none;
	}
	.menu-primary-menu-container, .menu-main-menu-container {
		background-image: url("images/nav.png");
		height: 17px;
		width: 31px;
		background-repeat: no-repeat;
		float: right;
	}
	.close-image {
		background-image: url(images/close.png) !important;
		background-repeat: no-repeat !important;
		height: 37px;
		display: block;
		position: fixed;
		left: 90%;
		top: 44px;
		right: 1px;
	}
	ul.sf-menu li a, ul.sf-menu li a:active, ul.sf-menu li a:focus,
	.sf-menu li a:hover, .menu-main-menu-container ul li a{
		color: #dddddd;
		font-size: 20px;
		margin-left: 0px;
	}
	.sf-menu li {
		float: none;
		text-align: center;
		padding: 15px 0px;
	}
	.sf-menu li.menu-item-has-children.sfHover {
		padding-bottom: 35px;
	}
	#navigation {
		text-align: right;
		width: 50%;
		float: right;
		/*cursor: pointer;*/
		top: 45px;
		right: 20px;
	}
	.menu-item-has-children ul.sub-menu {
		background: transparent;
		width: 95%;
		border: none;
		padding-top: 15px;
	}
	#logo a img {
		width: 80px;
		height: 80px;
	}
	#header {
		padding: 10px 28px;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
		width: auto;
		margin: 0px;
	}
	#sidebar {
		float: left;
		width: 100%;
	}
	.entry{margin-bottom: 10px}
	#wrap .post {
		width: 100%;
	}
	#wrap, #footer {
		width: auto;
		margin: 0px 28px;
	}
	#footer-wrap {
		width: 100%;
	}
	.post .entry table tr td {
		width: 50%;
	}
	.post .entry table {
		width: 100%;
	}
	.post .entry table tr td:nth-child(1) img {
		float: left;
	}
	.post .entry table tr td:nth-child(2) img {
		float: right;
	}
	.post .entry table tr td img {
		width: 95%;
		height: auto;
	}
	#copyright {
		width: 100%;
		text-align: center;
		line-height: 24px;
		font-size: 14px;
	}
	#back-to-top {
		float: left;
		text-align: center;
		width: 100%;
		line-height: 34px;
		font-size: 14px;
		margin-top: 5px;
	}
	#slider-wrap {
		width: 100%;
		margin: 0px;
	}
	#slider_nivo, .nivoSlider img{
		width: 100%;
		display: block;
		clear: both;
		overflow: hidden;
	}
	.home-wrap {
		margin: 0px;
	}
	#home-tagline {
		margin: 0px;
		padding-bottom: 35px;
		padding-top: 20px;
	}
	.hp-highlight {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 25px;
	}
	.hp-highlight p iframe {
		width: 100% !important;
		height: 200px !important;
		padding-top: 15px;
	}
	#footer-bottom {
		margin-top: 0px;
	}
	.post .entry .alignright {
		width: 30%;
		height: auto;
	}
	.post .entry .alignleft {
		width: 50%;
		height: auto;
	}
	.page-id-12 p {
		font-size: 12px;
	}
	p, .hp-highlight p {
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.hp-highlight h2 {
		font-size: 20px;
	}
	.hp-highlight table tbody tr td {
		color: #727171;
		line-height: 30px;
		font-size: 16px;
	}
	td, th {
		font-family: OpenSans-Regular;
		color: #727171;
		line-height: 30px;
		font-size: 16px;
	}
	.sidebar-box iframe {
		padding-top: 15px;
	}
	.fb-iframe iframe {
		width: 100% !important;
		height: 195px !important;
	}
	.fb-iframe {
		margin-bottom: 0px;
	}
	.menu-item-has-children .sf-sub-indicator {
		background-image: url(images/Shape.png) !important;
		background-repeat: no-repeat !important;
		position: relative;
		top: 10px;
		left: 8px;
		color: #000;
		padding-top: 3px;
	}
	#page-heading h1, #page-heading h2 {
		font-size: 28px;
		padding-top: 40px;
	}
	.entry h2 {
		font-size: 20px;
	}
	.sidebar-box h4 span {
		font-size: 16px;
		line-height: 30px;
	}
	.page-id-12 #page-heading {
		margin-bottom: 15px;
	}
	#footer-wrap {
		margin-bottom: 0px;
	}
	.nivo-slice, .nivo-box {
		width: 100% !important;
	}
	.sf-menu ul {
		position: relative;
		left: 0px !important;
		background-color: transparent;
		top: 0px !important;
		border: none;
		width: 100%;
		text-align: center;
	}
	.sf-menu li .sub-menu li {
		padding-bottom: 0px;
		padding-top: 25px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sf-menu a, .menu-main-menu-container ul li a {
		font-size: 13px;
		margin-left: 10px;
	}
	#navigation {
		left: 20%;
		top: 55px;
	}
	#logo a img {
		width: 100px;
		height: 100px;
	}
	#header {
		padding: 20px 0px;
	}
	#wrap .post {
		width: 60%;
	}
	#wrap .post .entry .post {
		width: 100%;
	}
	#wrap #sidebar {
		width: 30%;
	}
	#header, #wrap, #footer {
		width: auto;
		margin: 0px 20px;
	}
	#footer-wrap {
		width: 100%;
	}
	.post .entry table tr td {
		width: 50%;
	}
	.post .entry table tr td img {
		width: 95%;
		height: auto;
	}
	.post .entry table tr td:nth-child(1) img {
		float: left;
	}
	.post .entry table tr td:nth-child(2) img {
		float: right;
	}
	#copyright, #back-to-top {
		width: 50%;
	}
	.post .entry .alignleft {
		width: 50%;
		height: auto;
	} 
	p, .hp-highlight p {
		font-size: 14px;
		line-height: 24px;
	}
	.hp-highlight h2 {
		font-size: 20px;
	}
	.hp-highlight table tbody tr td {
		color: #727171;
		line-height: 24px;
		font-size: 16px;
	}
	td, th {
		font-family: OpenSans-Regular;
		color: #727171;
		line-height: 24px;
		font-size: 16px;
	}
	#copyright {
		line-height: 24px;
		font-size: 14px;
	}
	#back-to-top {
		line-height: 34px;
		font-size: 14px;
	}
	#slider_nivo, .nivoSlider img{
		width: 100%;
		display: block;
		clear: both;
		overflow: hidden;
	}
}